/* footnotes */

/* // this create a note: */

/* //footnote display */
/* block */
/*     The footnote element is placed in the footnote area as a block element  */
/* inline */
/*     The footnote element is placed in the footnote area as an inline element  */
/* compact */
/*     The user agent determines whether a given footnote element is placed as a block element or an inline element. If two or more footnotes could fit on the same line in the footnote area, they should be placed inline.  */
.note {
  float: footnote;
  footnote-display: block;
}

/* // define the footnote area */
@page {
  @footnote {
    /* // would be lovely to float the notes where you wanted  */
    float: bottom;
  }
}

::footnote-call {
  content: counter(footnote, symbols("*", "†", "‡", "§"));
}

::footnote-marker {
  content: counter(footnote, symbols("*", "†", "‡", "§")) ". ";
}

/* footnote counter reset appear inside the @page which feels wrong imho */

@page {
  counter-reset: footnote;
  /* @footnote { … } */
}

.footnote-policy {
  footnote-policy: block;
  /**/
  /**/
  /* auto */
  /*     The user agent chooses how to render footnotes, and may place the footnote body on a later page than the footnote reference. A footnote body must never be placed on a page before the footnote reference.  */
  /* line */
  /*     If a given footnote body cannot be placed on the current page due to lack of space, the user agent introduces a forced page break at the start of the line containing the footnote reference, so that both the reference and the footnote body fall on the next page. Note that the user agent must honor widow and orphan settings when doing this, and so may need to insert the page break on an earlier line.  */
  /* block */
  /*     As with line, except a forced page break is introduced before the paragraph that contains the footnote. */
}
